table {
    border-collapse: collapse;
    width: 100%;
    color: #25292C;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}
th {
    background-color: #25292C;
    color: white;
    border: solid 1px black;    
}
tr:nth-child(even) 
{
    background-color: #f2f2f2
}

